.loader{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 20px solid rgb(222, 76, 183);
    border-top: 20px solid rgb(178, 144, 232);
    animation: spinanimate 1s ease-in 0s infinite normal;
    background-color: black;
}
@keyframes spinanimate{
    from{
        transform: rotate(0deg);
    }
     to{
    transform: rotate(360deg);
     }
}